<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveMoney2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveMoney2.Settings>
            <setting name="Income" serializeAs="String">
                <value>45000</value>
            </setting>
            <setting name="M_Pocketmoney" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="M_Monthly" serializeAs="String">
                <value>1610</value>
            </setting>
            <setting name="M_Annual" serializeAs="String">
                <value>6200</value>
            </setting>
            <setting name="M_Home" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="M_Public" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="M_Dream" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="M_Investment" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="M_Backup" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Bank01" serializeAs="String">
                <value>台新銀行 子罐頭</value>
            </setting>
            <setting name="Bank02" serializeAs="String">
                <value>中國信託 數位</value>
            </setting>
            <setting name="Bank03" serializeAs="String">
                <value>中國信託 活儲</value>
            </setting>
            <setting name="Bank04" serializeAs="String">
                <value>國泰世華</value>
            </setting>
            <setting name="Bank05" serializeAs="String">
                <value>國泰世華 子帳戶</value>
            </setting>
            <setting name="Bank06" serializeAs="String">
                <value>玉山銀行 數位</value>
            </setting>
            <setting name="Bank07" serializeAs="String">
                <value>玉山銀行 活儲</value>
            </setting>
            <setting name="Bank08" serializeAs="String">
                <value>連線銀行</value>
            </setting>
        </LiveMoney2.Settings>
    </userSettings>
</configuration>